* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    margin-bottom: 1.8em;
}

p {
    margin-bottom: 2em;
}

.fullPageScroll {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

.section {
    width: 100%;
    height: 100vh;
    padding: 10%;
    scroll-snap-align: start;
}

.section1 {
    background-color: #ffba49;
}

.section2 {
    background-color: #212124;
    position: relative;
}

.imageWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.section2 img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section2 h1 {
    position: absolute;
    left: 0;
    top: 88%;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.section3 {
    background-color: #ef5b5b;
}

.section3 .innerScroll {
    height: 80%;
    overflow-y: scroll;
}

.section4 {
    background-color: #a4a9ad;
    padding: 0;
}

.section4 iframe {
    width: 100%;
    height: 100%;
}

.section5 {
    background-color: #20a39e;
}
/* MENU CSS */
#menu {
    transform: translateY(-50%);
    width: 20.0625rem;
    height: 100vh;
    background: rgba(3, 3, 3, 0.50);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 0;
    z-index: 1000;
}
#logo img {
    margin-top: 1.25rem;
    width: 18.625rem;
    height: 11.25rem;
}
#download-btn {
    width: 12.25rem;
    height: 4.375rem;
    margin-bottom: 4.88rem;
}
.pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    width: 12.25rem;
    margin-bottom: 5rem;
    
}

.pagination a {
    color: #E3E3E3;
    height: 2rem;
    width: 8.25rem;
    align-items: center;
    display: flex;
    font-family: "Roboto";
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.pagination a:nth-child(1) {
    width: 2.5rem;
}
.pagination a:nth-child(2) {
    width: 7.18rem;
}
.pagination a:nth-child(3) {
    width: 7.15rem;
}
.pagination a::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    left: -100%;
    border-bottom: #69E0FF solid 3px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}
.pagination a.active::before, .pagination a:hover::before {
    left: 0;
}
.pagination a.active, .pagination a:hover {
    text-shadow: 0 0 7px #69e0ff, 0 0 6px #69e0ff;  
    color: #fff;
}