* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #333;
	margin-top: 20px;
}

#task-form {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#task-form div {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}
#new-task {
	width: 200px;
	padding: 5px;
}
#search-task {
	width: 200px;
	padding: 5px;
	margin-top: 15px;
}
button {
	padding: 5px 10px;
}

button.edit-btn {
	margin-right: 5px;
	margin-left: 5px;
}

#task-list {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.task {
	margin: 5px;
	display: flex;
	align-items: center;
}
.task-text {
	margin-right: 5px;
}
input[type="checkbox"] {
	margin-right: 10px;
}
span {
	padding: 10px;
}
.completed {
	text-decoration: line-through;
	color: #999;
}

li:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}
#priority {
	margin-left: 10px;
	padding: 5px;
}
