html {
    font-size: 62.5%;
    font-feature-settings: "palt";
}
#container {
    background: url(../img/xpWallPaper.webp) center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    /* background: lemonchiffon; */
}

#submitBox {
    z-index: 2147483647;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    background: #eee;
    /* display: block; */
    width: 60vw;
    height: 8vh;
    border: 1px solid #333;
    border-radius: 1vh;
    padding: 16px;
    font-size: 2rem;
}

#send {
    background: greenyellow;
    width: 20vw;
    height: 8vh;
    border: 1px solid #333;
    border-radius: 1vh;
    font-size: 2rem;
}
#clear {
    background: url(../img/trashEmp.png) center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 64px;
    right: 32px;
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
    font-size: 2rem;
}
#clear span {
    font-size: 1.6rem;
    text-shadow: 0 0 4px #000;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}
#clear.active {
    background: url(../img/trash.png) center no-repeat;
    background-size: cover;
}

#board {
    z-index: 0;
    width: 100vw;
    height: 90%;
    position: relative;
}
.postWrap {
    position: absolute;
    min-width: 256px;
    max-width: 98%;
    max-height: 98%;
    border-radius: 8px;
    outline: 1px solid #eee;
    margin: 0;
}

.post {
    cursor: pointer;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 2rem;
    user-select: none;
    color: #000;
    border: 2px solid #005ae7;
    border-top: 40px solid #005ae7;
}

.closeBtn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: url(../img/close.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 4px;
}

.closeBtn:active::after {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    border-radius: 4px;
    cursor: pointer;
    background: #00000030 center no-repeat;
    background-size: cover;
}

.date {
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 1.4rem;
    transform: translate(0, -50%);
    color: #fff;
    font-weight: 900;
    user-select: none;
}
